<h3>CLASS INFORMATION</h3>
<table class="class_info">
 <tr>
  <th>Course Title</th>
  <th>Class Number</th>
  <th>Section Number</th>
  <th>Credits</th>
  <th>Day</th>
  <th>Start Time</th>
  <th>Stop Time</th>
 </tr>
 
 <tr>
  <td><%= text_field :class_information, :title, :size => "15" %></td>
  <td><%= text_field :class_information, :class_number, :size => "15" %></td>
  <td><%= text_field :class_information, :section_number, :size => "15" %></td>
  <td><%= select(:class_information, :credits, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6]]) %></td>
  <td><%= select(:class_information, :day, ["Mon", "Tue", "Wed", "Thru", "Fri", "Sat", "Sun", "Mon,Wed", "Mon,Fri", "Mon,Wed,Fri", "Tue,Thur"]) %></td>
  <td><%= text_field :class_information, :start_time, :size => "15", :class => "time" %></td>
  <td><%= text_field :class_information, :stop_time, :size => "15", :class => "time" %></td>
 </tr> 
</table> 