<h3>CLASS INFORMATION</h3>
<table class="class_info">
 <tr>
  <th class="course_title">Course Title</th>
  <th class="class_no_title">Class Number</th>
  <th class="section_no_title">Section Number</th>
  <th class="credits_title">Credits</th>
  <th class="day_title">Day</th>
  <th>Start Time</th>
  <th>Stop Time</th>
 </tr>
 
 <% (1..7).each do |i| %>
  <% if i == 1 %>
  <tr class="class_information<%= i %>">
  <% else %>
   <tr class="class_information<%= i %>" style="display: none;">
  <% end %> 
   <td><%= text_field :"class_information#{i}", :title, :size => "15" %></td>
   <td><%= text_field :"class_information#{i}", :class_number, {:class => "class_number", :size => "15"} %></td>
   <td><%= text_field :"class_information#{i}", :section_number, {:class => "section_number", :size => "15"} %></td>      
   <td><%= select(:"class_information#{i}", :credits, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6]],{:include_blank => "Select"}, {:class => "credits"}) %></td>
   <td><%= select(:"class_information#{i}", :day, ["Mon", "Tue", "Wed", "Thru", "Fri", "Sat", "Sun", "Mon,Wed", "Mon,Fri", "Mon,Wed,Fri", "Tue,Thur"], {:include_blank => "Select"}, {:class => "day"}) %></td>
   <td><%= text_field :"class_information#{i}", :start_time, :size => "15", :class => "time" %></td>
   <td><%= text_field :"class_information#{i}", :stop_time, :size => "15", :class => "time" %></td>
  </tr>
 <% end %>
</table>
<a id="add_row">Add New</a>
