<table class="class_form">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Stony Brook Id</th>
        <th>Host Institution</th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%=h user.last_name %></td>
        <td><%=h link_to user.first_name, :action => "class_information", :user_id => user.id %></td>
        <td><%=h user.stony_brook_id %></td>
        <td><%=h user.host_institution %></td>
      </tr>
    <% end %>
</table>
<%= will_paginate @users %>

<br />