<h1>CLASS PERMISSION FORM</h1>

 <% form_for :user, :url => { :action => "create" }, :html => {:id => 'class_form' } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Last Name" %> *<br />
    <%= f.text_field :last_name, :class=>"validate[required,custom[onlyLetter]] text-input" %>    
  </p>
  <p>
    <%= f.label "First Name" %> *<br />
    <%= f.text_field :first_name, :class=>"validate[required,custom[onlyLetter]] text-input" %>
  </p>
  <p>
    <%= f.label "Stony Brook Id" %> *<br />
    <%= f.text_field :stony_brook_id, :class=>"validate[required,custom[onlyNumber],length[9,9]] text-input" %>
  </p>
  <p>
    <%= f.label "Host Institution" %> *<br />
    <%= f.text_field :host_institution, :class=>"validate[required,custom[onlyLetter]]" %>
  </p>
  <%= render :partial => 'class_information' %>  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<%= javascript_tag %q{
  $(document).ready(function(){  
    $('.time').timepicker({
      hourGrid: 4,
      minuteGrid: 30,
      ampm: true,
      hourMin: 7,
      hourMax: 22
    });
    
    $("#class_form").validationEngine();
  

    var row = 2;
    $("#add_row").click(function(){
      class = ".class_information" + row;
      $(class).show();
      row++;
    });
    
  });
}%>


