<h1>CLASS PERMISSION FORM</h1>

 <% form_for :user, :url => { :action => "create" }, :html => {:id => 'class_form' } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Last Name" %> *<br />
    <%= f.text_field :last_name, :class=>"validate[required,custom[onlyLetter],length[0,100]] text-input" %>    
  </p>
  <p>
    <%= f.label "First Name" %> *<br />
    <%= f.text_field :first_name, :class=>"validate[required,custom[onlyLetter],length[6,20]] text-input" %>
  </p>
  <p>
    <%= f.label "Stony Brook Id" %> *<br />
    <%= f.text_field :stony_brook_id, :class=>"validate[required]" %>
  </p>
  <p>
    <%= f.label "Host Institution" %> *<br />
    <%= f.text_field :host_institution, :class=>"validate[required]" %>
  </p>
  <%= render :partial => 'class_information' %>  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<%= javascript_tag %q{
  $(document).ready(function(){  
    $('.time').timepicker({
      hourGrid: 4,
      minuteGrid: 30,
      ampm: true,
      hourMin: 8,
      hourMax: 18
    });
    
    $("#class_form").validationEngine();    
    for (var i=7; i>1; i--){
      class = ".class_information" + i      
      $(class).hide();
    }
    var row = 2;
    $("#add_row").click(function(){
      class = ".class_information" + row;
      $(class).show();
      row++;
    });
  });
}%>


